<div class="wrapper">
  <header>
    <h1>Users page</h1>
    <button (click)="onAddClick()">Add a new user.</button>
  </header>

  <main>
    <app-user-list
      [users]="users"
      (deleteClick)="onDeleteClick($event)"
      (updateClick)="onUpdateClick($event)"
    ></app-user-list>

    <app-user-form
      *ngIf="selectedUser || showRegistrationForm"
      [selectedUser]="selectedUser"
      (register)="register($event)"
      (update)="update($event)"
      (cancel)="cancel()"
    ></app-user-form>
  </main>
</div>
